.add-lounge-wrapper{
   .addLoungeInputWrapper{
      margin-bottom:20px;
   }
   .add-lounge-box{
      max-width: 500px;
      margin: 0 auto;
      padding:30px 40px 30px 40px;
      display: block;
      h2{
         margin:0 0 20px 0;
      }
      form{
         display: flex;
         flex-direction: column;
      }
   }
}